doctype html
html(lang='en')
    head
        title PS4
        link(rel='stylesheet', href='/stylesheets/style.css')
    body
        h1 CAS CS400 PS4
        div.container
            h3 #{weather}
            h5 Original JSON body before getting specific weather data for above statement:
            p #{body}